<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../public/js/script.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>main blog page all data of all the users posted</h1>
    
    <h2>User Data <%=`${Userdetail.Email}, ${Userdetail.Username}` %>
        <h1> <%= `${blogData._id}` %> </h1>
        <h1> <%= `${blogData.blogheading}` %> </h1>
        
    <a href="/create">POST A BLOG</a>    



    </h2>
</body>

</html>