<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <title>POST THE BLOG</title>
</head>

<body>
    <h1>POST THE BLOG HERE</h1>

    <!-- Form for Blog Submission -->
     <!-- The multipart tell that we are upload ing the images or filest etc  -->
    <form action="/create" enctype="multipart/form-data" method="post" id="blogform">
        <!-- Blog Heading -->
        <input type="text" placeholder="BLOG HEADING" style="width: 100%; height:100; margin-bottom: 10px;"
            name="Blogheading" required />
        <!-- <input type="file"> -->
        <!-- input for editor content -->
        <textarea name="blogcontent" style="width:100%;height: 100%; scale:auto; margin-bottom: 10px;"
            required>dESCRIBE HERE </textarea>
        <!-- imgae upload -->
        <input type="file" name="filename">
        <button type="submit" style="height: 40px; width: 300px;">POST</button>
    </form>
    
<!-- MULTI PART MEARNING WE CAN UPLOAD THE FILE USING THE FORM AND IT SEND ANY TYPE OF THE FILE  -->
    <!-- <form action="/upload" enctype="multipart/form-data" method="post" id="blogform"> -->
        <!-- Submit Button -->
        <!-- <input type="file" name="filename"> -->
        <!-- Submit Button -->
        <!-- <button type="submit" style="height: 40px; width: 300px;">UPLOAD</button> -->
    <!-- </form> -->

</body>

</html>