<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>BLOG  WRITE YOUR WORDS</h1>
    <form action="/" method="post" >
        <input type="text" name="Email">
        <input type="password" name="Password">
        <button type="submit">LOGIN</button>
    </form>
    <a href="/signup">SIGNUP</a>
</body>
</html>