<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SIGNUP CREATE YOUR ACCOUNT</h1>

    <form action="/signup" method="post">
        <input type="type" placeholder="Enter your user name" name="name">
        <input type="email" placeholder="Enter your email" name="email">
        <input type="password" placeholder="Enter your password" name="password" >
        <button>SIGNUP</button>
    </form>

</body>
</html>